@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body{
    margin: 0;
    display: flex;
}

.left-side{
    background-image: url(./imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 33vw;
    height: 100vh;
}


.logo{
    font-family: 'Climate Crisis', sans-serif;
}

.form-wrapper{
    width: 67vw;
    background-image: linear-gradient(to bottom right, #f7eaf2, #cbd5d2);
}