@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body{
    margin: 0;
    display: flex;
    font-family: sans-serif;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Climate Crisis', sans-serif;
    gap: 2vw;
    font-size: 4vmin;
    margin-top: 30vh;
}

.cult-name{
    font-family: 'Climate Crisis', sans-serif;
    font-size: 18px;
}

.logo > img{
    width: 15vmin;
    height: 15vmin;
}

.left-side > footer{
    margin-top: auto;
    color: #f7eaf2;
    font-family: sans-serif;
    font-size: 1.4vmin;
    padding: 5px;
}

.left-side > footer > a{
    color: inherit;
}

.right-side{
    width: 60vw;
    background-image: linear-gradient(to bottom right, #f7eaf2, #cbd5d2);
}

.pitch{
    padding: 3vh 12vw 3vh 5vw;
    font-size: 20px;
}

.form-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 35px;
}

.form-block{
    box-shadow: 10px 2px 15px rgb(170, 169, 169);
    width: auto;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
}

.form-inputs > div{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.form-block > header{
    margin-bottom: 3vh;
    font-size: 20px;
    font-weight: bold;
}

.form-inputs > div > label{
    font-size: 12px;
}

.submit{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 28px;
}

.submit > button{
    width: 10vw;
    padding: 8px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(to bottom right, #f8bce1, #98c9ba);
}

.submit > button:hover{
    transform: scale(1.1);
}

.submit > button:active{
    transform: translateY(2px);
}

.submit > footer > a{
    text-decoration: none;
    color: #eb91c8;
    font-weight: bold;
}

input{
    outline: none; /* so we see borders */
    border-radius: 6px;
    padding: 5px;
    border: 2px solid #D6D9DC;
    margin-right: 20px;
}

input:focus:valid{
    border: 2px solid greenyellow;
}

input:invalid:focus{
    border: 2px solid red;
}

fieldset{
    display: flex;
    justify-content: center;
    gap: 4vw;
    width: 76%;
    border: 3px solid #f8bce1;
    border-radius: 8px;
    box-shadow: 10px 5px 15px rgb(170, 169, 169);
    background-image: linear-gradient(to bottom right, #f7eaf2, #cbd5d2);
    padding: 24px;
}

fieldset > legend {
    font-weight: bold;
}

/* Hide without removing to increase accessibility */
fieldset input[type="radio"]{
    opacity: 0;
    position: fixed;
    width: 0;
}

fieldset label{
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 4px;
    border: 2px solid #98c9ba;
}

fieldset label:hover{
    background-image: linear-gradient(to bottom right, #f7eaf2, #cbd5d2);
}

fieldset label:has(+ input[type="radio"]:checked){
    background-image: linear-gradient(to bottom right, #f8bce1, #98c9ba);
}

fieldset label:has(+ input[type="radio"]:focus){
    border: 2px dashed #fd8bd1;
}

button,
input,
select{
    font-family: inherit;
    font-size: 100%;
}

