@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

body{
    margin: 0;
    display: flex;
}

.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40vw;
    height: 100vh;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-family: 'Climate Crisis', sans-serif;
    font-size: 3vmin;
    margin-top: 25vh;
}

.logo > img{
    width: 15vmin;
    height: 15vmin;
}

.left-side > footer{
    margin-top: auto;
    color: #f7eaf2;
    font-family: sans-serif;
    font-size: 1.4vmin;
    padding: 5px;
}

.left-side > footer > a{
    color: inherit;
}

.form-wrapper{
    width: 60vw;
    background-image: linear-gradient(to bottom right, #f7eaf2, #cbd5d2);
}